- if diff_view == 'parallel'
  - fluid_layout true

- diff_files = safe_diff_files(diffs)

.gray-content-block.second-block.oneline-block
  .inline-parallel-buttons
    .btn-group
      = inline_diff_btn
      = parallel_diff_btn
  = render 'projects/diffs/stats', diff_files: diff_files

- if diff_files.count < diffs.size
  = render 'projects/diffs/warning', diffs: diffs, shown_files_count: diff_files.count

.files
  - diff_files.each_with_index do |diff_file, index|
    - diff_commit = commit_for_diff(diff_file)
    - blob = project.repository.blob_for_diff(diff_commit, diff_file)
    - next unless blob

    = render 'projects/diffs/file', i: index, project: project,
      diff_file: diff_file, diff_commit: diff_commit, blob: blob

- if @diff_timeout
  .alert.alert-danger
    %h4
      搜集修改失败
    %p
      可能是差异非常大造成操作超时。请在本地重试
