.snippet-details
  .page-title
    .snippet-box{class: visibility_level_color(@snippet.visibility_level)}
      = visibility_level_icon(@snippet.visibility_level)
      = visibility_level_label(@snippet.visibility_level)
    %span.snippet-id 代码片段 ##{@snippet.id}
    %span.creator
      &middot; 由 #{link_to_member(@project, @snippet.author, size: 24)} 创建于
      &middot;
      = time_ago_with_tooltip(@snippet.created_at, placement: 'bottom', html_class: 'snippet_updated_ago')
      - if @snippet.updated_at != @snippet.created_at
        %span
          &middot;
          = icon('edit', title: 'edited')
          = time_ago_with_tooltip(@snippet.updated_at, placement: 'bottom', html_class: 'snippet_edited_ago')

    .pull-right
      - if @snippet.project_id?
        = render "projects/snippets/actions"
      - else
        = render "snippets/actions"
  .gray-content-block.middle-block
    %h2.snippet-title
      = gfm escape_once(@snippet.title)
