%ul.center-top-menu
  = nav_link(path: ['projects#index', 'root#index']) do
    = link_to dashboard_projects_path, title: '主页', class: 'shortcuts-activity', data: {placement: 'right'} do
      你的项目
  = nav_link(page: starred_dashboard_projects_path) do
    = link_to starred_dashboard_projects_path, title: '星标项目', data: {placement: 'right'} do
      星标项目
  = nav_link(page: [explore_root_path, trending_explore_projects_path, starred_explore_projects_path, explore_projects_path], html_options: { class: 'hidden-xs' }) do
    = link_to explore_root_path, title: '浏览', data: {placement: 'right'} do
      浏览项目
