- page_title "合并请求"
- header_title  "合并请求", merge_requests_dashboard_path(assignee_id: current_user.id)

.append-bottom-20
  = render 'shared/issuable/filter', type: :merge_requests
= render 'shared/merge_requests'
