%h4 构建图表
%p
  &nbsp;
  %span.cgreen
    = icon("circle")
    成功
  &nbsp;
  %span.cgray
    = icon("circle")
    所有

.prepend-top-default
  %p.light
    上周构建图表
    (#{date_from_to(Date.today - 7.days, Date.today)})
  %canvas#weekChart{height: 200}

.prepend-top-default
  %p.light
    上月构建图表
    (#{date_from_to(Date.today - 30.days, Date.today)})
  %canvas#monthChart{height: 200}

.prepend-top-default
  %p.light
    去年构建图表
  %canvas#yearChart.padded{height: 250}

- [:week, :month, :year].each do |scope|
  :javascript
    var data = {
      labels : #{@charts[scope].labels.to_json},
      datasets : [
        {
          fillColor : "#7f8fa4",
          strokeColor : "#7f8fa4",
          pointColor : "#7f8fa4",
          pointStrokeColor : "#EEE",
          data : #{@charts[scope].total.to_json}
        },
        {
          fillColor : "#44aa22",
          strokeColor : "#44aa22",
          pointColor : "#44aa22",
          pointStrokeColor : "#fff",
          data : #{@charts[scope].success.to_json}
        }
      ]
    }
    var ctx = $("##{scope}Chart").get(0).getContext("2d");
    new Chart(ctx).Line(data,{"scaleOverlay": true, responsive: true, maintainAspectRatio: false});
