- page_title "身份", @user.name, "用户"
= render 'admin/users/head'

- if @identities.present?
  .table-holder
    %table.table
      %thead
        %tr
          %th 提供者
          %th 身份
          %th
      = render @identities
- else
  %h4 此用户没有任何身份
