%ul.center-top-menu
  = nav_link(controller: [:commit, :commits]) do
    = link_to namespace_project_commits_path(@project.namespace, @project, current_ref) do
      提交
      %span.badge= number_with_delimiter(@repository.commit_count)
  = nav_link(controller: :compare) do
    = link_to namespace_project_compare_index_path(@project.namespace, @project, from: @repository.root_ref, to: current_ref) do
      比较

  = nav_link(html_options: {class: branches_tab_class}) do
    = link_to namespace_project_branches_path(@project.namespace, @project) do
      分支
      %span.badge.js-totalbranch-count= @repository.branches.size

  = nav_link(controller: [:tags, :releases]) do
    = link_to namespace_project_tags_path(@project.namespace, @project) do
      标签
      %span.badge.js-totaltags-count= @repository.tags.length
