- page_title @snippet.title, "代码片段"

.snippet-holder
  = render 'shared/snippets/header'

  %article.file-holder
    .file-title
      = blob_icon 0, @snippet.file_name
      %strong
        = @snippet.file_name
      .file-actions.hidden-xs
        .btn-group.tree-btn-group
          = link_to '原文件', raw_snippet_path(@snippet), class: "btn btn-sm", target: "_blank"
    = render 'shared/snippets/blob'
