= form_for [@project.namespace.becomes(Namespace), @project, @note], remote: true, html: { :'data-type' => 'json', multipart: true, id: nil, class: "new_note js-new-note-form common-note-form gfm-form" }, authenticity_token: true do |f|
  = hidden_field_tag :view, diff_view
  = hidden_field_tag :line_type
  = note_target_fields(@note)
  = f.hidden_field :commit_id
  = f.hidden_field :line_code
  = f.hidden_field :noteable_id
  = f.hidden_field :noteable_type

  = render layout: 'projects/md_preview', locals: { preview_class: "md-preview", referenced_users: true } do
    = render 'projects/zen', f: f, attr: :note, classes: 'note_text js-note-text js-quick-submit'
    = render 'projects/notes/hints'
    .error-alert

  .note-form-actions
    .buttons.clearfix
      = f.submit '增加评论', class: "btn btn-green comment-btn btn-grouped js-comment-button"
      = yield(:note_actions)
      %a.btn.grouped.js-close-discussion-note-form 取消
