%ul.nav.nav-sidebar
  = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
    = link_to admin_root_path, title: "状态" do
      = icon('dashboard fw')
      %span
        概览
  = nav_link(controller: [:admin, :projects]) do
    = link_to admin_namespaces_projects_path, title: '项目', data: {placement: 'right'} do
      = icon('cube fw')
      %span
        项目
  = nav_link(controller: :users) do
    = link_to admin_users_path, title: '用户', data: {placement: 'right'} do
      = icon('user fw')
      %span
        用户
  = nav_link(controller: :groups) do
    = link_to admin_groups_path, title: '群组', data: {placement: 'right'} do
      = icon('group fw')
      %span
        群组
  = nav_link(controller: :deploy_keys) do
    = link_to admin_deploy_keys_path, title: '部署密钥', data: {placement: 'right'} do
      = icon('key fw')
      %span
        部署密钥
  = nav_link do
    = link_to ci_admin_projects_path, title: '持续集成', data: {placement: 'right'} do
      = icon('building fw')
      %span
        持续集成
  = nav_link(controller: :logs) do
    = link_to admin_logs_path, title: '日志', data: {placement: 'right'} do
      = icon('file-text fw')
      %span
        日志
  = nav_link(controller: :broadcast_messages) do
    = link_to admin_broadcast_messages_path, title: '广播信息', data: {placement: 'right'} do
      = icon('bullhorn fw')
      %span
        信息
  = nav_link(controller: :hooks) do
    = link_to admin_hooks_path, title: '钩子', data: {placement: 'right'} do
      = icon('external-link fw')
      %span
        钩子
  = nav_link(controller: :background_jobs) do
    = link_to admin_background_jobs_path, title: '后台作业', data: {placement: 'right'} do
      = icon('cog fw')
      %span
        后台作业

  = nav_link(controller: :applications) do
    = link_to admin_applications_path, title: '应用', data: {placement: 'right'} do
      = icon('cloud fw')
      %span
        应用

  = nav_link(controller: :services) do
    = link_to admin_application_settings_services_path, title: '服务模板', data: {placement: 'right'} do
      = icon('copy fw')
      %span
        服务模板

  = nav_link(controller: :labels) do
    = link_to admin_labels_path, title: '标记', data: {placement: 'right'} do
      = icon('tags fw')
      %span
        标记

  = nav_link(controller: :abuse_reports) do
    = link_to admin_abuse_reports_path, title: "滥用举报" do
      = icon('exclamation-circle fw')
      %span
        滥用举报
        %span.count= AbuseReport.count(:all)

  = nav_link(controller: :application_settings, html_options: { class: 'separate-item'}) do
    = link_to admin_application_settings_path, title: '设置', data: {placement: 'right'} do
      = icon('cogs fw')
      %span
        设置
