%ul.nav.nav-sidebar
  = nav_link do
    = link_to group_path(@group), title: '转到群组', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        转到群组

  %li.separate-item

  %ul.sidebar-subnav
    = nav_link(path: 'groups#edit') do
      = link_to edit_group_path(@group), title: '群组设置', data: {placement: 'right'} do
        = icon ('pencil-square-o fw')
        %span
          群组设置
    = nav_link(path: 'groups#projects') do
      = link_to projects_group_path(@group), title: '项目', data: {placement: 'right'} do
        = icon('folder fw')
        %span
          项目
