%ul.nav.nav-sidebar
  = nav_link do
    = link_to project_path(@project), title: '转到项目', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        转到项目

  %li.separate-item

  %ul.sidebar-subnav
    = nav_link(path: 'projects#edit') do
      = link_to edit_project_path(@project), title: '项目设置', data: {placement: 'right'} do
        = icon('pencil-square-o fw')
        %span
          项目设置
    = nav_link(controller: :deploy_keys) do
      = link_to namespace_project_deploy_keys_path(@project.namespace, @project), title: '部署密钥', data: {placement: 'right'} do
        = icon('key fw')
        %span
          部署密钥
    = nav_link(controller: :hooks) do
      = link_to namespace_project_hooks_path(@project.namespace, @project), title: 'Web 钩子', data: {placement: 'right'} do
        = icon('link fw')
        %span
          Web 钩子
    = nav_link(controller: :services) do
      = link_to namespace_project_services_path(@project.namespace, @project), title: '服务', data: {placement: 'right'} do
        = icon('cogs fw')
        %span
          服务
    = nav_link(controller: :protected_branches) do
      = link_to namespace_project_protected_branches_path(@project.namespace, @project), title: '保护分支', data: {placement: 'right'} do
        = icon('lock fw')
        %span
          保护分支

    - if @project.builds_enabled?
      = nav_link(controller: :runners) do
        = link_to namespace_project_runners_path(@project.namespace, @project), title: 'Runners', data: {placement: 'right'} do
          = icon('cog fw')
          %span
            Runners
      = nav_link(controller: :variables) do
        = link_to namespace_project_variables_path(@project.namespace, @project) do
          = icon('code fw')
          %span
            变量
      = nav_link path: 'triggers#index' do
        = link_to namespace_project_triggers_path(@project.namespace, @project) do
          = icon('retweet fw')
          %span
            触发器
      = nav_link path: 'ci_web_hooks#index' do
        = link_to namespace_project_ci_web_hooks_path(@project.namespace, @project) do
          = icon('link fw')
          %span
            CI Web 钩子
      = nav_link path: 'ci_settings#edit' do
        = link_to edit_namespace_project_ci_settings_path(@project.namespace, @project) do
          = icon('building fw')
          %span
            CI 设置
      = nav_link controller: 'ci_services' do
        = link_to namespace_project_ci_services_path(@project.namespace, @project) do
          = icon('share fw')
          %span
            CI 服务
