- page_title '偏好设置'
- header_title page_title, profile_preferences_path
- @blank_container = true

.alert.alert-help
  此设置允许自定义本站点的外观和行为。
  设置会保存在个人资料中并在所有设备上生效。

= form_for @user, url: profile_preferences_path, remote: true, method: :put, html: {class: 'js-preferences-form form-horizontal'} do |f|
  .panel.panel-default.application-theme
    .panel-heading
      程序主题
    .panel-body
      - Gitlab::Themes.each do |theme|
        = label_tag do
          .preview{class: theme.css_class}
          = f.radio_button :theme_id, theme.id
          = theme.name

  .panel.panel-default.syntax-theme
    .panel-heading
      代码预览主题
    .panel-body
      - Gitlab::ColorSchemes.each do |scheme|
        = label_tag do
          .preview= image_tag "#{scheme.css_class}-scheme-preview.png"
          = f.radio_button :color_scheme_id, scheme.id
          = scheme.name

  .panel.panel-default
    .panel-heading
      行为
    .panel-body
      .form-group
        = f.label :layout, class: 'control-label' do
          页面宽度
        .col-sm-10
          = f.select :layout, layout_choices, {}, class: 'form-control'
          .help-block
            选择固定 (最大 1200px) 或自适应 (100%) 页面宽度。
      .form-group
        = f.label :dashboard, class: 'control-label' do
          默认仪表盘
          = link_to('(?)', help_page_path('profile', 'preferences') + '#default-dashboard', target: '_blank')
        .col-sm-10
          = f.select :dashboard, dashboard_choices, {}, class: 'form-control'
      .form-group
        = f.label :project_view, class: 'control-label' do
          项目视图
          = link_to('(?)', help_page_path('profile', 'preferences') + '#default-project-view', target: '_blank')
        .col-sm-10
          = f.select :project_view, project_view_choices, {}, class: 'form-control'
          .help-block
            选择访问项目页面时看到的内容。
    .panel-footer
      = f.submit '保存', class: 'btn btn-save'
