%p.lead
  注册新 runner 请访问#{link_to '此页面', ci_runners_path}

.row
  .col-md-8
    %h5 已激活的:
    %table.table
      %tr
        %th Runner ID
        %th Runner 描述
        %th 最后构建
        %th 构建统计
        %th 注册时间
        %th

      - @runner_projects.each do |runner_project|
        - runner = runner_project.runner
        - builds = runner.builds.where(project_id: @project.id)
        %tr
          %td
            %span.badge.badge-info= runner.id
          %td
            = runner.display_name
          %td
            - last_build = builds.last
            - if last_build
              = link_to last_build.short_sha, [last_build.project, last_build]
            - else
              未知
          %td
            %span.badge.badge-success
              #{builds.success.count}
            %span /
            %span.badge.badge-important
              #{builds.failed.count}
          %td
            #{time_ago_in_words(runner_project.created_at)}之前
          %td
            = link_to '禁用', [:ci, @project, runner_project], data: { confirm: "确定要继续么？" }, method: :delete, class: 'btn btn-danger btn-sm right'
  .col-md-4
    %h5 可用的
    %table.table
      %tr
        %th ID
        %th 授权码
        %th

      - (Ci::Runner.all - @project.runners).each do |runner|
        %tr
          %td
            = runner.id
          %td
            = runner.token
          %td
            = form_for [:ci, @project, @runner_project] do |f|
              = f.hidden_field :runner_id, value: runner.id
              = f.submit '增加', class: 'btn btn-sm'
