#modal-create-new-dir.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3.page-title 创建新目录
      .modal-body
        = form_tag namespace_project_create_dir_path(@project.namespace, @project, @id), method: :post, remote: false, class: 'form-horizontal js-create-dir-form' do
          .form-group
            = label_tag :dir_name, '目录名称', class: 'control-label'
            .col-sm-10
              = text_field_tag :dir_name, params[:dir_name], placeholder: "目录名称", required: true, class: 'form-control'

          = render 'shared/new_commit_form', placeholder: "增加新目录"

          .form-group
            .col-sm-offset-2.col-sm-10
              = submit_tag "创建目录", class: 'btn btn-primary btn-create'
              = link_to "取消", '#', class: "btn btn-cancel", "data-dismiss" => "modal"

:javascript
  disableButtonIfAnyEmptyField($(".js-create-dir-form"), ".form-control", ".btn-create");
  new NewCommitForm($('.js-create-dir-form'))
