.panel.panel-default.prepend-top-20
  .panel-heading
    %strong #{@project.name}
    项目成员
    %small
      (#{members.count})
  %ul.well-list
    - members.each do |project_member|
      = render 'project_member', member: project_member
