- page_title @milestone.title, "里程碑"
= render "header_title"

%h4.page-title
  .issue-box{ class: "issue-box-#{@milestone.closed? ? 'closed' : 'open'}" }
    - if @milestone.closed?
      已关闭
    - else
      未关闭
  里程碑 #{@milestone.title}
  .pull-right
    - if can?(current_user, :admin_milestones, @group)
      - if @milestone.active?
        = link_to '关闭里程碑', group_milestone_path(@group, @milestone.safe_title, title: @milestone.title, milestone: {state_event: :close }), method: :put, class: "btn btn-sm btn-close"
      - else
        = link_to '重新打开里程碑', group_milestone_path(@group, @milestone.safe_title, title: @milestone.title, milestone: {state_event: :activate }), method: :put, class: "btn btn-sm btn-grouped btn-reopen"

%hr
- if @milestone.complete? && @milestone.active?
  .alert.alert-success
    %span 此里程碑的所有问题都已关闭。可以选择关闭此里程碑。

.description

.table-holder
  %table.table
    %thead
      %tr
        %th 项目
        %th 未关闭的问题
        %th 状态
        %th 到期时间
    - @milestone.milestones.each do |milestone|
      %tr
        %td
          = link_to "#{milestone.project.name}", namespace_project_milestone_path(milestone.project.namespace, milestone.project, milestone)
        %td
          = milestone.issues.opened.count
        %td
          - if milestone.closed?
            已关闭
          - else
            未关闭
        %td
          = milestone.expires_at

.context
  %p.lead
    进度：
    #{@milestone.closed_items_count} 已关闭
    &ndash;
    #{@milestone.open_items_count} 未关闭
  = milestone_progress_bar(@milestone)

%ul.nav.nav-tabs
  %li.active
    = link_to '#tab-issues', 'data-toggle' => 'tab' do
      问题
      %span.badge= @milestone.issue_count
  %li
    = link_to '#tab-merge-requests', 'data-toggle' => 'tab' do
      合并请求
      %span.badge= @milestone.merge_requests_count
  %li
    = link_to '#tab-participants', 'data-toggle' => 'tab' do
      参与者
      %span.badge= @milestone.participants.count

  .pull-right
    = link_to '浏览问题', issues_group_path(@group, milestone_title: @milestone.title), class: "btn  edit-milestone-link btn-grouped"

.tab-content
  .tab-pane.active#tab-issues
    .row
      .col-md-6
        = render 'issues', title: "未关闭", issues: @milestone.opened_issues
      .col-md-6
        = render 'issues', title: "已关闭", issues: @milestone.closed_issues

  .tab-pane#tab-merge-requests
    .row
      .col-md-6
        = render 'merge_requests', title: "未关闭", merge_requests: @milestone.opened_merge_requests
      .col-md-6
        = render 'merge_requests', title: "已关闭", merge_requests: @milestone.closed_merge_requests

  .tab-pane#tab-participants
    %ul.bordered-list
      - @milestone.participants.each do |user|
        %li
          = link_to user, title: user.name, class: "darken" do
            = image_tag avatar_icon(user, 32), class: "avatar s32"
            %strong= truncate(user.name, lenght: 40)
            %br
            %small.cgray= user.username
