= form_for [@project.namespace.becomes(Namespace), @project, issuable], remote: true, html: {class: 'issuable-context-form inline-update js-issuable-update'} do |f|
  %div.prepend-top-20
    .issuable-context-title
      %label
        指派：
      - if issuable.assignee
        %strong= link_to_member(@project, issuable.assignee, size: 24)
      - else
        无
    .issuable-context-selectbox
      - if can?(current_user, :"admin_#{issuable.to_ability_name}", @project)
        = users_select_tag("#{issuable.class.table_name.singularize}[assignee_id]", placeholder: '选择指派', class: 'custom-form-control js-select2 js-assignee', selected: issuable.assignee_id, project: @target_project, null_user: true, current_user: true)

  %div.prepend-top-20.clearfix
    .issuable-context-title
      %label
        里程碑：
      - if issuable.milestone
        %span.back-to-milestone
          = link_to namespace_project_milestone_path(@project.namespace, @project, issuable.milestone) do
            %strong
              = icon('clock-o')
              = issuable.milestone.title
      - else
        无
    .issuable-context-selectbox
      - if can?(current_user, :"admin_#{issuable.to_ability_name}", @project)
        = f.select(:milestone_id, milestone_options(issuable), { include_blank: '选择里程碑' }, {class: 'select2 select2-compact js-select2 js-milestone'})
        = hidden_field_tag :issuable_context
        = f.submit class: 'btn hide'

  - if current_user
    - subscribed = issuable.subscribed?(current_user)
    %div.prepend-top-20.clearfix
      .issuable-context-title
        %label
          订阅：
      %button.btn.btn-block.subscribe-button{:type => 'button'}
        = icon('eye')
        %span= subscribed ? '取消订阅' : '订阅'
      - subscribtion_status = subscribed ? 'subscribed' : 'unsubscribed'
      .subscription-status{data: {status: subscribtion_status}}
        .description-block.unsubscribed{class: ( 'hidden' if subscribed )}
          不会再接收此主题的通知。
        .description-block.subscribed{class: ( 'hidden' unless subscribed )}
          订阅此主题将会接收到通知。

:javascript
  new Subscription("#{toggle_subscription_path(issuable)}");
  new IssuableContext();
