- page_title "标记"
= link_to new_admin_label_path, class: "pull-right btn btn-new" do
  新标记
%h3.page-title
  标记
%hr

.labels
  - if @labels.present?
    %ul.bordered-list.manage-labels-list
      = render @labels
    = paginate @labels, theme: 'gitlab'
  - else
    .light-well
      .nothing-here-block 还没有标记
      
