- empty_repo = @project.empty_repo?
.project-home-panel.clearfix{:class => ("empty-project" if empty_repo)}
  .project-identicon-holder
    = project_icon(@project, alt: '', class: 'project-avatar avatar s90')
  .project-home-desc
    %h1= @project.name
    - if @project.description.present?
      = markdown(@project.description, pipeline: :description)

    - if forked_from_project = @project.forked_from_project
      %p
        派生自
        = link_to project_path(forked_from_project) do
          = forked_from_project.namespace.try(:name)



  .project-repo-buttons
    .split-one
      = render 'projects/buttons/star'
      = render 'projects/buttons/fork'

    = render "shared/clone_panel"
    
    .split-repo-buttons
      = render "projects/buttons/download"
      = render 'projects/buttons/dropdown'

    = render 'projects/buttons/notifications'
