- if event = last_push_event
  - if show_last_push_widget?(event)

    .gray-content-block.top-block.clear-block.hidden-xs
      .event-last-push
        .event-last-push-text
          在
          #{time_ago_with_tooltip(event.created_at)}
          %span 推送到
          = link_to namespace_project_commits_path(event.project.namespace, event.project, event.ref_name) do
            %strong= event.ref_name
          分支

        .pull-right
          = link_to new_mr_path_from_push_event(event), title: "新合并请求", class: "btn btn-info btn-sm" do
            创建合并请求
