- commit = @repository.commit(tag.target)
- release = @releases.find { |release| release.tag == tag.name }
%li
  %div
    = link_to namespace_project_tag_path(@project.namespace, @project, tag.name) do
      %strong
        = icon('tag')
        = tag.name
    - if tag.message.present?
      &nbsp;
      = strip_gpg_signature(tag.message)

    .controls
      = link_to edit_namespace_project_tag_release_path(@project.namespace, @project, tag.name), class: 'btn-grouped btn' do
        = icon("pencil")
      - if can? current_user, :download_code, @project
        = render 'projects/tags/download', ref: tag.name, project: @project

  - if commit
    = render 'projects/branches/commit', commit: commit, project: @project
  - else
    %p
      无法找到该标签的 HEAD 提交
  - if release && release.description.present?
    .description.prepend-top-default
      .wiki
        = preserve do
          = markdown release.description
