<%= @project.name %> 构建成功

状态：   <%= @build.status %>
提交：   <%= @build.commit.short_sha %>
作者：   <%= @build.commit.git_author_name %>
分支：   <%= @build.ref %>
阶段：   <%= @build.stage %>
作业：   <%= @build.name %>
信息：   <%= @build.commit.git_commit_message %>

链接：   <%= namespace_project_build_url(@build.gl_project.namespace, @build.gl_project, @build) %>
