- page_title "群组"
- header_title  "群组", dashboard_groups_path
= render 'dashboard/groups_head'

.gray-content-block
  - if current_user.can_create_group?
    %span.pull-right.hidden-xs
      = link_to new_group_path, class: "btn btn-new" do
        %i.fa.fa-plus
        新群组
  .title 欢迎来到群组！
  群组成员可以访问群组的所有项目。

%ul.content-list
  - @group_members.each do |group_member|
    - group = group_member.group
    = render 'shared/groups/group', group: group, group_member: group_member

= paginate @group_members, theme: 'gitlab'
