- page_title @snippet.title, "代码片段"
= render "header_title"

.snippet-holder
  = render 'shared/snippets/header'

  %article.file-holder
    .file-title
      = blob_icon 0, @snippet.file_name
      %strong
        = @snippet.file_name
      .file-actions.hidden-xs
        .btn-group.tree-btn-group
          = link_to '原文件', raw_namespace_project_snippet_path(@project.namespace, @project, @snippet), class: "btn btn-sm", target: "_blank"

    = render 'shared/snippets/blob'

  %div#notes= render "projects/notes/notes_with_form"
