%ul.nav.nav-sidebar
  = nav_link do
    = link_to project_path(@project.gl_project), title: '返回到项目', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        返回到项目
  %li.separate-item
    = nav_link path: 'events#index' do
      = link_to ci_project_events_path(@project) do
        = icon('book fw')
        %span
          事件
