.tree-ref-holder
  = render 'shared/ref_switcher', destination: 'tree', path: @path

%ul.breadcrumb.repo-breadcrumb
  %li
    = link_to namespace_project_tree_path(@project.namespace, @project, @ref) do
      = @project.path
  - tree_breadcrumbs(tree, 6) do |title, path|
    %li
      - if path
        = link_to truncate(title, length: 40), namespace_project_tree_path(@project.namespace, @project, path)
      - else
        = link_to title, '#'
  - if allowed_tree_edit?
    %li
      %span.dropdown
        %a.dropdown-toggle.btn.add-to-tree{href: '#', "data-toggle" => "dropdown"}
          = icon('plus')
        %ul.dropdown-menu
          %li
            = link_to namespace_project_new_blob_path(@project.namespace, @project, @id), title: '创建文件', id: 'new-file-link' do
              = icon('pencil fw')
              创建文件
          %li
            = link_to '#modal-upload-blob', { 'data-target' => '#modal-upload-blob', 'data-toggle' => 'modal'} do
              = icon('file fw')
              上传文件
          %li.divider
          %li
            = link_to '#modal-create-new-dir', { 'data-target' => '#modal-create-new-dir', 'data-toggle' => 'modal'} do
              = icon('folder fw')
              新目录
