%ul.center-top-menu.commit-ci-menu
  = nav_link(path: 'commit#show') do
    = link_to namespace_project_commit_path(@project.namespace, @project, @commit.id) do
      变更
      %span.badge= @diffs.count
  = nav_link(path: 'commit#builds') do
    = link_to builds_namespace_project_commit_path(@project.namespace, @project, @commit.id) do
      构建
      %span.badge= @builds.count(:id)
