- if current_user
  %span.dropdown
    %a.dropdown-new.btn.btn-new{href: '#', "data-toggle" => "dropdown"}
      = icon('plus')
    %ul.dropdown-menu.dropdown-menu-right.project-home-dropdown
      - if can?(current_user, :create_issue, @project)
        %li
          = link_to url_for_new_issue(@project, only_path: true) do
            = icon('exclamation-circle fw')
            新问题
      - if can?(current_user, :create_merge_request, @project)
        %li
          = link_to new_namespace_project_merge_request_path(@project.namespace, @project) do
            = icon('tasks fw')
            新合并请求
      - if can?(current_user, :create_snippet, @project)
        %li
          = link_to new_namespace_project_snippet_path(@project.namespace, @project) do
            = icon('file-text-o fw')
            新代码片段
      - if can?(current_user, :push_code, @project)
        %li.divider
        %li
          = link_to namespace_project_new_blob_path(@project.namespace, @project, @project.default_branch || 'master'), title: '新文件' do
            = icon('file fw')
            新文件
        %li
          = link_to new_namespace_project_branch_path(@project.namespace, @project) do
            = icon('code-fork fw')
            新分支
        %li
          = link_to new_namespace_project_tag_path(@project.namespace, @project) do
            = icon('tags fw')
            新标签
