- case @membership
- when ProjectMember
  = form_tag profile_notifications_path, method: :put, remote: true, class: 'inline', id: 'notification-form' do
    = hidden_field_tag :notification_type, 'project'
    = hidden_field_tag :notification_id, @membership.id
    = hidden_field_tag :notification_level
    %span.dropdown
      %a.dropdown-new.btn.notifications-btn#notifications-button{href: '#', "data-toggle" => "dropdown"}
        = icon('bell')
        = notification_label(@membership)
        = icon('angle-down')
      %ul.dropdown-menu.dropdown-menu-right.project-home-dropdown
        - Notification.project_notification_levels.each do |level|
          = notification_list_item(level, @membership)

- when GroupMember
  .btn.disabled.notifications-btn.has_tooltip{title: "要修改通知等级，需要你是项目成员，而不仅仅是群组成员。"}
    = icon('bell')
    = notification_label(@membership)
    = icon('angle-down')
