- content_for :note_actions do
  - if can?(current_user, :update_issue, @issue)
    - if @issue.closed?
      = link_to '重新打开问题', issue_path(@issue, issue: {state_event: :reopen}, status_only: true), method: :put, class: 'btn btn-grouped btn-reopen js-note-target-reopen', title: '重新打开问题'
    - else
      = link_to '关闭问题', issue_path(@issue, issue: {state_event: :close}, status_only: true), method: :put, class: 'btn btn-grouped btn-close js-note-target-close', title: '关闭问题'

= render 'shared/show_aside'

.gray-content-block.second-block.oneline-block
  .row
    .col-md-9
      .votes-holder.pull-right
        #votes= render 'votes/votes_block', votable: @issue
      .participants
        %span= pluralize(@participants.count, '个参与者', '个参与者')
        - @participants.each do |participant|
          = link_to_member(@project, participant, name: false, size: 24)
    .col-md-3
      .input-group.cross-project-reference
        %span.slead.has_tooltip{title: '交叉项目参考'}
          = cross_project_reference(@project, @issue)
        = clipboard_button

.row
  %section.col-md-9
    .voting_notes#notes= render 'projects/notes/notes_with_form'
  %aside.col-md-3
    .issuable-affix
      .context
        = render 'shared/issuable/context', issuable: @issue

      - if @issue.labels.any?
        .issuable-context-title
          %label 标记
        .issue-show-labels
          - @issue.labels.each do |label|
            = link_to_label(label)
