%li{ id: dom_id(issue), class: issue_css_classes(issue), url: issue_path(issue) }
  - if controller.controller_name == 'issues' && can?(current_user, :admin_issue, @project)
    .issue-check
      = check_box_tag dom_id(issue,"selected"), nil, false, 'data-id' => issue.id, class: "selected_issue"

  .issue-title
    %span.issue-title-text
      = link_to_gfm issue.title, issue_path(issue), class: "row_title"
    .issue-labels
      - issue.labels.each do |label|
        = link_to_label(label, project: issue.project)
    .pull-right.light
      - if issue.closed?
        %span
          已关闭
      - if issue.assignee
        = link_to_member(@project, issue.assignee, name: false)
      - note_count = issue.notes.user.count
      - if note_count > 0
        &nbsp;
        %span
          %i.fa.fa-comments
          = note_count
      - else
        &nbsp;
        %span.issue-no-comments
          %i.fa.fa-comments
          = 0

  .issue-info
    = "#{issue.to_reference} #{link_to_member(@project, issue.author, avatar: false)}在#{time_ago_with_tooltip(issue.created_at, placement: 'bottom')}开启".html_safe
    - if issue.milestone
      &nbsp;
      %span
        %i.fa.fa-clock-o
        = issue.milestone.title
    - if issue.tasks?
      %span.task-status
        = issue.task_status

    .pull-right.issue-updated-at
      %span #{time_ago_with_tooltip(issue.updated_at, placement: 'bottom', html_class: 'issue_update_ago')}更新
