- page_title "里程碑"
- header_title  "里程碑", dashboard_milestones_path


= render 'shared/milestones_filter'

.gray-content-block
  .oneline
    所有可以访问的项目的所有里程碑列表。

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block 没有里程碑显示
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: "gitlab"
