- page_title "#{@merge_request.title} (##{@merge_request.iid})", "合并请求"
= render "header_title"

- if params[:view] == 'parallel'
  - fluid_layout true

.merge-request{'data-url' => merge_request_path(@merge_request)}
  .merge-request-details.issuable-details
    = render "projects/merge_requests/show/mr_title"
    = render "projects/merge_requests/show/mr_box"
    .append-bottom-20.mr-source-target.prepend-top-default
      - if @merge_request.open?
        .pull-right
          - if @merge_request.source_branch_exists?
            = link_to "#modal_merge_info", class: "btn btn-sm", "data-toggle" => "modal" do
              = icon('cloud-download fw')
              检出分支

          %span.dropdown
            %a.btn.btn-sm.dropdown-toggle{ data: {toggle: :dropdown} }
              = icon('download')
              下载为
              %span.caret
            %ul.dropdown-menu
              %li= link_to "电子邮件补丁", merge_request_path(@merge_request, format: :patch)
              %li= link_to "差异文件",    merge_request_path(@merge_request, format: :diff)
      .normal
        %span 请求合并
        %span.label-branch #{source_branch_with_namespace(@merge_request)}
        %span 到
        %span.label-branch #{@merge_request.target_branch}

    = render "projects/merge_requests/show/how_to_merge"
    = render "projects/merge_requests/widget/show.html.haml"

    - if @merge_request.open? && @merge_request.can_be_merged?
      .light.append-bottom-20
        也可以使用
        = succeed '手工接受此合并请求。' do
          = link_to "命令行", "#modal_merge_info", class: "how_to_merge_link vlink", title: "如何合并", "data-toggle" => "modal"

  - if @commits.present?
    %ul.merge-request-tabs
      %li.notes-tab
        = link_to namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: {target: '#notes', action: 'notes', toggle: 'tab'} do
          讨论
          %span.badge= @merge_request.mr_and_commit_notes.user.count
      %li.commits-tab
        = link_to commits_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: {target: '#commits', action: 'commits', toggle: 'tab'} do
          提交
          %span.badge= @commits.size
      %li.diffs-tab
        = link_to diffs_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: {target: '#diffs', action: 'diffs', toggle: 'tab'} do
          变更
          %span.badge= @merge_request.diffs.size

  .tab-content
    #notes.notes.tab-pane.voting_notes
      = render "projects/merge_requests/discussion"
    #commits.commits.tab-pane
      - # This tab is always loaded via AJAX
    #diffs.diffs.tab-pane
      - # This tab is always loaded via AJAX

  .mr-loading-status
    = spinner

:javascript
  var merge_request;

  merge_request = new MergeRequest({
    action: "#{controller.action_name}"
  });
