- page_title "编辑", "#{@runner.description} ##{@runner.id}", "Runners"

%h4 Runner ##{@runner.id}
%hr
= form_for @runner, url: runner_path(@runner), html: { class: 'form-horizontal' } do |f|
  .form-group
    = label :active, "有效的", class: 'control-label'
    .col-sm-10
      .checkbox
        = f.check_box :active
        %span.light 暂停的 runner 不接受新构建
  .form-group
    = label_tag :token, class: 'control-label' do
      授权
    .col-sm-10
      = f.text_field :token, class: 'form-control', readonly: true
  .form-group
    = label_tag :description, class: 'control-label' do
      描述
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group
    = label_tag :tag_list, class: 'control-label' do
      标签
    .col-sm-10
      = f.text_field :tag_list, class: 'form-control'
      .help-block 你可以设置作业只使用指定标签的 runner
  .form-actions
    = f.submit '保存', class: 'btn btn-save'
